<section  class="dialog">
    <div class="dialog_date">19 июня</div>
<div class="chat">
        <div class="chat_item">Привет</div>
      <div class="chat_item chat_item__my-message">Как дела</div>

</div>
    <div class="chat__input">
        {{{textArea placeholder="Введите текст сообщения" name="message" class="message-area" id="message-area" onFocus=onFocus}}}
        <svg class="chat__input-btn" width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.95577 23.0442C7.64566 24.7341 9.7987 25.8849 12.1426 26.3511C14.4866 26.8174 16.9161 26.5781 19.1241 25.6635C21.332 24.7489 23.2192 23.2002 24.5469 21.2131C25.8746 19.226 26.5833 16.8898 26.5833 14.5C26.5833 12.1101 25.8746 9.77391 24.5469 7.78682C23.2192 5.79973 21.332 4.25097 19.1241 3.33642C16.9161 2.42186 14.4866 2.18257 12.1426 2.6488C9.7987 3.11504 7.64566 4.26587 5.95577 5.95575" stroke="white" stroke-width="2"/>
            <path d="M18.125 14.5L18.9059 13.8753L19.4056 14.5L18.9059 15.1247L18.125 14.5ZM3.625 15.5C3.07271 15.5 2.625 15.0523 2.625 14.5C2.625 13.9478 3.07271 13.5 3.625 13.5V15.5ZM14.0725 7.83368L18.9059 13.8753L17.3441 15.1247L12.5108 9.08307L14.0725 7.83368ZM18.9059 15.1247L14.0725 21.1664L12.5108 19.917L17.3441 13.8753L18.9059 15.1247ZM18.125 15.5H3.625V13.5H18.125V15.5Z" fill="white"/>
        </svg>
    </div>
</section>