.button {
  background: var(--main-color);
  border: none;
  border-radius: 20px;
  margin: auto auto 15px;
  padding: 12px 60px;
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  color: var(--color-gray);
}

.btn-exit {
  position: absolute;
  bottom: 27px;
  right: 155px;
  background-color: #6c1d1d;
  color: white;
}

