{{!< main}}

<main class="wrapper-login">
    <section class="form-auth">
        <h2 class="form-auth__title">Вход</h2>
        <form action="" method="post">

        <div class="text-field">
            <label class="text-field__label" for="login">Логин</label>
            <input class="text-field__input" type="text" name="login" id="login" placeholder="Login">
        </div>

        <div class="text-field">
            <label class="text-field__label" for="password">Пароль</label>
            <input class="text-field__input" type="password" name="password" id="password" placeholder="Password">
        </div>

        {{> 'button/button' title='Войти' }}
        </form>
        <a href="../register/register.hbs" class="form-auth__reg">Нет аккаунта?</a>

    </section>
</main>