{{!< main}}
<main class="page-error">
    <img  class="page-error__img" src="/static/assets/icons/CPU.svg" alt="Ошибка 500">
    <h1 class="page-error__title">500</h1>
    <span class="page-error__text">Мы уже фиксим</span>

    <a href="/src/pages/messenger/messenger.hbs">
        {{> 'button/button' title='Назад к чатам' }}
    </a>
</main>
