.page-error {
  display: flex;
  margin: 200px auto 0;
  width: 230px;
  flex-direction: column;

  &__img {
    width: fit-content;
    display: block;
    margin: 0 auto 20px;
  }

  &__title {
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    color: var(--color-light-gray);
    margin: 0;
  }

  &__text {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: var(--color-light-gray);
    margin: 20px auto 50px;
  }
}


