{{!< main}}
<main class="messenger-wrapper">
    <aside class="dialogs-list">
        <div class="dialogs-list__my-name">
            <img src="/static/assets/icons/messenger/User.svg" alt="Аватар пользователя">
            <h1>Иван Иванов</h1>
            <a href="/src/pages/settings/settings.hbs">
                <img src="/static/assets/icons/messenger/Settings.svg" alt="Настройки">
            </a>
        </div>

            <form class="dialogs-search">
                <button class="dialogs-search__btn" type="submit"></button>
                <input class="dialogs-search__input" type="text" placeholder="Поиск">
            </form>

        <ul class="dialogs-chat-wrapper">
            <li class="dialogs-chat">
                <div class="dialogs-chat__avatar">
                   <img src="/static/assets/img/avatar.svg" alt="Аватар собеседника">
                </div>
                <div class="dialogs-chat__text">
                    <h3 class="dialogs-chat__text-name">Андрей</h3>
                    <span class="dialogs-chat__text-preview">Друзья, у меня для вас особенный выпуск</span>
                </div>
                <div class="dialogs-chat__info">
                    <span class="dialogs-chat__info-time">10:49</span>
                    <span class="dialogs-chat__info-count">2</span>
                </div>
            </li>
            <li class="dialogs-chat">
                <div class="dialogs-chat__avatar">
                    <img src="/static/assets/img/avatar.svg" alt="Аватар собеседника">
                </div>
                <div class="dialogs-chat__text">
                    <h3 class="dialogs-chat__text-name">Андрей</h3>
                    <span class="dialogs-chat__text-preview">Друзья, у меня для вас особенный выпуск</span>
                </div>
                <div class="dialogs-chat__info">
                    <span class="dialogs-chat__info-time">10:49</span>
                    <span class="dialogs-chat__info-count">2</span>
                </div>
            </li>

            <li class="dialogs-chat">
                <div class="dialogs-chat__avatar">
                    <img src="/static/assets/img/avatar.svg" alt="Аватар собеседника">
                </div>
                <div class="dialogs-chat__text">
                    <h3 class="dialogs-chat__text-name">Андрей</h3>
                    <span class="dialogs-chat__text-preview">Друзья, у меня для вас особенный выпуск</span>
                </div>
                <div class="dialogs-chat__info">
                    <span class="dialogs-chat__info-time">10:49</span>
                    <span class="dialogs-chat__info-count">2</span>
                </div>
            </li>
        </ul>

    </aside>
    <section class="dialogs-select">
        {{> 'messenger/change-chat/change-chat'}}

    </section>
</main>

