<ul>
    <li>
        <a href="./auth/auth.hbs">Auth</a>
    </li>
    <li>
        <a href="./register/register.hbs">Register</a>
    </li>
    <li>
        <a href="./messenger/messenger.hbs">Messenger</a>
    </li>
    <li>
        <a href="./settings/settings.hbs">Settings</a>
    </li>
    <li>
        <a href="./404/404.hbs">404</a>
    </li>
    <li>
        <a href="./500/500.hbs">500</a>
    </li>
</ul>