:root {
  /* Основные цвета */
  --main-color: #48f08e;
  --main-color-dark: #3f4950;
  --bg-color: #768692;
  --dark-bg-color: rgb(0 0 0 / 50%);
  --color-gray: #333;
  --font-color: #fff;

  /* --font-color-dark: #999; */
  --bg-color-dark: #929292;
  --color-light-gray: #999;
  --error-color: #ff2f2f;
}
