{{!< main}}
<main class="page-error">
    <img  class="page-error__img" src="/static/assets/icons/Nesting.svg">
    <span class="page-error__title">404</span>
    <span class="page-error__text">Не туда попали</span>

    <a href="/src/pages/messenger/messenger.hbs">
        {{> 'button/button' title='Назад к чатам' }}
    </a>

</main>