.change-chat {
    text-align: center;
    color: var(--font-color-dark);
    margin-top: 250px;
    font-size: 18px;
    font-weight: 500;
    line-height: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__img {
        width: fit-content;
    }

    &__text {
        margin-top: 15px;
    }
}
