<div class="change-chat">
    <img  class="change-chat__img" src="/static/assets/icons/messenger/Chat-change.svg" alt="Выберите чат">
    <h2 class="change-chat__text">Выберите чат чтобы отправить сообщение</h2>
</div>
