
<main class="page-error">
    <img  class="page-error__img" src={{img}} alt="Ошибка {{title}}">
    <h1 class="page-error__title">{{title}}</h1>
    <p class="page-error__text">{{text}}</p>



</main>

